.Upload {
  border-radius: 4px;
  padding: 4px 12px;
}

.Upload:hover {
  color: rgb(0, 119, 255);
  border-color: rgb(0, 119, 255);
}

.Input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
